:root {
  --main-color: #003865;
  --accent-color: #EF5B0C;
  --light-blue-color: #45A8F8;
  --grey-color: #E5E5E5;
  --light-color: #fff;
  --dark-color: #000;
  --body-color: #dddddd;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* > img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--grey-color)), color-stop(60%, var(--light-blue-color)), to(var(--main-color)));
  background: linear-gradient(180deg, var(--grey-color) 0%, var(--light-blue-color) 60%, var(--main-color) 100%);
  color: var(--main-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 20px 0;
  min-width: 320px;
}

img {
  width: 100%;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 10px;
}

.hero__container {
  height: 290px;
  border-radius: 30px;
  background-color: var(--light-color);
  overflow: hidden;
}

.hero__container__top {
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__container__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: 60px;
  left: clamp(1.25rem, calc(0.875rem + 1.88vw), 2.188rem);
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 430px) {
  .hero__container__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    margin-bottom: -30px;
    margin-top: -20px;
  }
}

@media (max-width: 430px) {
  .hero__container {
    height: auto;
  }
}

.hero__img {
  width: 190px;
  height: 190px;
  background-color: grey;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 400px) and (min-width: 320px) {
  .hero__img {
    width: 150px;
    height: 150px;
  }
}

.hero__info {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 10px;
}

@media (max-width: 430px) {
  .hero__info {
    margin-top: 20px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.hero__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

.hero__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__download {
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 10px;
}

.hero__download svg {
  -webkit-transition: all .3s;
  transition: all .3s;
  fill: #45A8F8;
}

.hero__download svg:hover {
  fill: #003865;
}

.hero__text {
  font-size: 14px;
  line-height: 16px;
}

.hero__location {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
  text-decoration: none;
  color: var(--main-color);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hero__location:hover {
  color: #45A8F8;
}

.hero__location span {
  margin-left: 3px;
  font-size: 14px;
  line-height: 16px;
}

.hero__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__social {
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hero__social:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hero__social:not(:last-child) {
  margin-right: 5px;
}

.important {
  margin-top: 20px;
  padding-bottom: 20px;
}

.important__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 500px) {
  .important {
    margin-top: 10px;
  }
  .important__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .important__container .main {
    margin-top: 10px;
    margin-left: 0;
    padding: 20px;
  }
}

.aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22.76786%;
          flex: 0 0 22.76786%;
  min-width: 170px;
}

.main {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 74.55357%;
          flex: 0 1 74.55357%;
  background: var(--light-color);
  border-radius: 20px;
  padding: 30px;
}

@media (max-width: 750px) {
  .main {
    margin-left: 20px;
  }
}

.skills {
  background-color: var(--light-color);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills:not(:last-child) {
  margin-bottom: 20px;
}

.skills__title {
  padding: 15px 0 5px 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  border-bottom: 1px solid #E5E5E5;
}

.skills__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  padding: 15px 10px;
}

.skills__items.links {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.skills__items span {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.skills__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--light-blue-color);
  text-decoration: none;
}

@media (max-width: 750px) {
  .skills:not(:last-child) {
    margin-bottom: 10px;
  }
}

.skill {
  padding: 5px;
  background-color: var(--light-blue-color);
  color: var(--light-color);
  border-radius: 5px;
  font-size: 12px;
  line-height: 14px;
  cursor: default;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.skill:hover {
  opacity: 0.5;
}

.experience__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--accent-color);
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  .experience__title {
    margin-bottom: 5px;
  }
}

.work {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
      grid-template-areas: "period place position";
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  font-size: 16px;
  line-height: 19px;
}

.work:not(:last-child) {
  margin-bottom: 10px;
}

.work__period {
  font-weight: 500;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: period;
}

.work__place {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: place;
  font-size: 14px;
}

.work__position {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: position;
  font-size: 14px;
}

@media (max-width: 750px) {
  .work {
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "period . " "place position";
  }
  .work__position {
    text-align: right;
  }
}

@media (max-width: 560px) {
  .work {
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "period" "place" "position";
  }
  .work__position {
    text-align: left;
  }
  .work:not(:last-child) {
    margin-bottom: 5px;
  }
}

.projects {
  margin-top: 30px;
}

.projects__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.projects__body ol {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-left: 15px;
}

.projects__body ol li:not(:last-child) {
  margin-bottom: 10px;
}

.projects__body ol li strong {
  font-weight: 500;
}

.projects__body ol li p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-top: 6px;
}

.projects__body .skill {
  cursor: pointer;
  text-decoration: none;
}

.projects__body .skill:not(:last-child) {
  margin-right: 10px;
}

@media (max-width: 500px) {
  .projects {
    margin-top: 15px;
  }
  .projects__title {
    margin-bottom: 5px;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */